@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

:focus-visible {
	outline-color: transparent !important;
}

.focus-visible {
	outline-color: transparent !important;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes dotPulse {
	0% {
		content: "";
	}

	33% {
		content: ".";
	}

	66% {
		content: "..";
	}

	100% {
		content: "...";
	}
}

.dot::after {
	content: "...";
	animation: dotPulse 2s infinite;
}

.bg-auth {
	background-color: #130f40;
	background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

/* Oculta los botones de subir y bajar */
::-webkit-scrollbar-button {
	display: none;
}

/* Hace que el scrollbar sea redondo y más pequeño */
::-webkit-scrollbar {
	width: 4px;
	border-radius: 50px;
	background: #333;
}

/* Hace que el thumb del scrollbar sea redondo */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 50px;
}

/* Cambia el color del thumb del scrollbar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}